<div class="collectionlist_buttons"   >
	<!-- Display the files in the document files if they exist -->
	<% if (collection.length) { %>	
		<% collection.forEach(function(item){ %>
				<div class="btn-group btn-group-xs">
					<button id=<%= item %> class="btn btn-default btn-xs" type="button">
						<%= item %>  
					</button>
					<button type="button" class="btn btn-default btn-xs">
						<span class="glyphicon glyphicon-minus red"></span> 
					</button> 
				</div>
				<br><br>
		<% }) %>
	<% } else {%>
		Add some files to your collection for analysis!
	<% } %>
</div>
<script src="js/pdf.js" type="text/javascript"></script>
<script src="js/tooltip.js"></script>
<script src="js/textlayerbuilder.js" type="text/javascript"></script>
<script src="js/pdfcanvas.js"></script>
<script type="text/javascript">
  
</script>