<!-- The body of the layout.ejs when in Document view--> 
 <!-- Custom CSS here -->
 <link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/pdfcanvas.css" rel="stylesheet" /> 


 
<!--<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script> 
 
<!-- Required for rendering the pdf file --> 
<!--<script src="js/pdf.js" type="text/javascript"></script>
<script src="js/tooltip.js"></script>
<script src="js/textlayerbuilder.js" type="text/javascript"></script>
<script src="js/pdfcanvas.js"></script>-->

 	<div id="pdfContainer" class = "pdf-content"><!--style="overflow: auto"--></div>
	<a title="This is some information for our tooltip." id="tooltip">Hello world!</a>
  