<script src="js/twitter-dev/bootstrap-tooltip.js"></script>
<script src="js/twitter-dev/bootstrap-popover.js"></script>
	
<!-- Display the files in the document files if they exist -->
<div class="documentlist_buttons">
	<% if (files.length) { %>	
		<% files.forEach(function(item){ %>
				<div class="btn-group btn-group-xs">
					<button id=<%= item %> class="btn btn-default btn-xs" type="button">
						<%= item %>  
					</button>
					<button id="example" type="button" class="btn btn-default btn-xs" data-toggle="popover" data-content="Add to collection for analysis!">
						<span class="glyphicon glyphicon-plus green"></span> 
					</button> 
					<button type="button" class="btn btn-default btn-xs" data-toggle="popover" data-content="Remove the file">
						<span class="glyphicon glyphicon-minus red"></span> 
					</button> 
					
				</div>
				
				<br><br>
		<% }) %>
	<% } else {%>
		Upload and add some files into your collection!
	<% } %>
</div>

<!--POPOVER DOESNT WORK???-->
<script type="text/javascript">
$('#example').popover({container: 'body'})
</script>

<!-- Code to respond to file button clicks
<script type="text/javascript">

$(function() {
	$(".documentlist_buttons  button").click( function()
	{
		var filename = this.id;
		alert("click!"+filename);
		socket.emit("pdfinfo", {filename:filename});
	}
	);
});
</script>-->