<!-- Modal that pops up for adding documents to the collection -->
<div class="modal fade modal-lg" id="docUploader" tabindex="-1" role="dialog" aria-labelledby="docUploaderLabel" aria-hidden="true" >
	<div class="modal-dialog modal-lg" >
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="docUploaderLabel">Document Uploader</h4>
			</div>
			<div class="modal-body">
				<div class="row ">
					<div class="col-md-6">
						<div class="panel panel-default">	
							<div class="panel-heading">
								<h4 class="panel-title">Existing Documents</h4>
							</div>
							<div class="panel-body">
								<%-  documentlist %>
								
								<!-- Button that goes to file chooser for uploading into server-->
								<button id="upload_btn" class="btn btn-primary">
									Upload Documents
								</button>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-default">	
							<div class="panel-heading">
								<h4 class="panel-title">Documents to Analyze</h4>
							</div>
							<div class="panel-body">
								<%-  collectionlist %>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

<script>
/*$('#documentmodel').on('hidden', function () {
  //Disable buttons
  $("#documentmodel .panel-body").find(".button").button("disable");
  alert("disabling buttons");
})

$('#documentmodel').on('show', function () {
  //Renable buttons
  $("#documentmodel .panel-body").find(".button").button("enable");
  alert("renabling buttons");
})*/
</script>