<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= description %>">
    <meta name="author" content="<%= author %>">

    <!-- styles -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/dashboard.css" rel="stylesheet"> 
	
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="img/favicon.ico">
     
  </head>

  <body>
   
   
    <!-- Some JavaScript, placed at the end of the document so the pages load faster -->

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"><\/script>')</script>
	<!--<script src="js/jquery-1.10.2.js"></script>
    
	<!--Connection with the server with ajax-->
  	<script src="js/ajax.js" type="text/javascript"></script>

	<!--Handles all button clicks-->
	<script src="js/buttonhandler.js" type="text/javascript"></script>

	
    <!-- Need mroe Bootstrap features? Uncomment some lines below. -->
    <script src="js/bootstrap.min.js"></script>
	
    <!--
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>-->
    <script src="js/twitter-dev/bootstrap-tooltip.js"></script>
    <script src="js/twitter-dev/bootstrap-popover.js"></script>
    <!--<script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>
    -->
	<!-- This is for the dashboard look from bootstrap-->
	<script src="js/docs.min.js"></script>

	<script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.0.0.js'></script>

    <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID. -->
    <!--
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    -->

    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
         chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 7 ]>
      <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
      <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->
	
	
	
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Text-ure</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">					
					<li><a href="#">Profile</a></li>
					<li><a href="#">Help</a></li>
				</ul>
				<form class="navbar-form navbar-right">
					<input type="text" class="form-control" placeholder="Search...">
				</form>
			</div>
		</div>
	</div>

	<!--<div class="container-fluid">-->
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<div class="panel-group" id="accordion">
						<li>
 							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#Documents">
											Documents in Collection
										</a>
									</h4>
								</div>
								<div id="Documents" class="panel-collapse collapse in">
									<div class="panel-body">
 										<!-- Display the files through the partial collectionlist.ejs -->
										<%-  collectionlist %>
 										<!-- Button trigger modal for document uploader-->
										<button class="btn btn-primary" data-toggle="modal" data-target="#docUploader" >
											Add More Documents
										</button>
									</div>
								</div>
							</div>
						</li><li>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#Annotations">
											Annotations
										</a>
									</h4>
								</div>
								<div id="Annotations" class="panel-collapse collapse">
									<div class="panel-body">
									 
									</div>
								</div>
							</div> 
						</li><li>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#EntitiesAndLabels">
											Entities and Labels
										</a>
									</h4>
								</div>
								<div id="EntitiesAndLabels" class="panel-collapse collapse">
									<div class="panel-body"> 
										<div id="entities-title">Entities</div>
										<div id="entities">
											<!-- Display the entities and labels if they exist -->
											<% if (labels.length) { %>	
												<% labels.forEach(function(item){ %>
													<% for(var columnName in item) {%>
														<%= item[columnName] %> 
													<% } %>
												<% }) %>
											<% } %>
										</div>
									</div>
								</div>
							</div>
						</li>
					</div>
				</ul>
				
			</div>
			<div class=" col-sm-offset-3 main"  > 
 				<%- body %> 
 			</div>
			<!--<div class=" col-sm-offset-9 main">
						This should be where the table is
 			</div>--> 
		</div>
	<!--</div> -->
	</body>
	
	<!-- Including html of document modal -->
	<%- partial('documentmodal') %>
	
</html>